*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
  color: #252b42;
  font-family: Montserrat, sans-serif;
  background: #fafafa;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1076px;
  padding: 0 15px;
  margin: 0 auto;
}

.background {
  position: relative;
}

.background img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* Header */
.header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 50;
  width: 100%;
}

.header__container {
  display: flex;
  align-items: center;
  min-height: 104px;
}

@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
}

.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}

.header__nav {
  margin-left: 133px;
}

@media (max-width: 992px) {
  .header__nav {
    margin-left: 80px;
  }
}

@media (max-width: 767px) {
  .header__nav {
    margin-left: 40px;
  }
}

@media (max-width: 479px) {
  .header__nav {
    margin-left: 20px;
  }
}

.nav {
  padding: 5px 0;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
}

.nav__item {
  margin-right: 21px;
}

.nav__item:last-child {
  margin: 0;
}

.nav__link {
  color: #737373;
  font-weight: 600;
  line-height: 171%;
  letter-spacing: 0.2px;
}

@media (max-width: 479px) {
  .nav__link {
    font-size: 18px;
  }
}

/* Page */
.page {
  flex: 1 1 auto;
}

/* Main block */
.main-block {
  position: relative;
}

.main-block__body {
  padding: 184px 0 191px 0;
  position: relative;
  z-index: 2;
  max-width: 400px;
}

@media (max-width: 992px) {
  .main-block__body {
    padding: 120px 0 191px 0;
  }
}

@media (max-width: 479px) {
  .main-block__body {
    padding: 115px 0 160px 0;
  }
}

.main-block__body > *:not(:last-child) {
  padding-bottom: 35px;
}

.main-block__title {
  font-size: 58px;
  font-weight: 800;
  line-height: 138%;
  letter-spacing: 0.2px;
}

@media (max-width: 779px) {
  .main-block__title {
    font-size: 42px;
  }
}

.main-block__text {
  color: #737373;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.2px;
}

.main-block__buttons {
  display: inline-flex;
  flex-wrap: wrap;
  margin: -10px 0;
}

.main-block__button {
  border-radius: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 36px;
  min-height: 46px;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 200%;
  text-align: center;
  margin: 10px 0;
}

@media (max-width: 479px) {
  .main-block__button {
    flex: 1 1 100%;
  }
}

@media (min-width: 479px) {
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
}

.main-block__button_orange {
  background: #ff7b47;
  color: #fff;
}

.main-block__button_border {
  color: #0d5c63;
  border: 1px solid #0d5c63;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 1300px) {
  .main-block__image img {
    object-position: right;
  }
}

@media (max-width: 992px) {
  .main-block__image {
    opacity: 0.5;
  }
}

.page__services {
  position: relative;
  z-index: 2;
  margin-top: -111px;
}

@media (min-width: 670px) {
  .services__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
}

.services__column {
  flex: 0 1 33.333%;
  margin-bottom: 30px;
}

@media (min-width: 670px) {
  .services__column {
    padding: 0 15px;
  }
}

@media (max-width: 992px) {
  .services__column {
    flex: 0 1 50%;
  }

  .services__column:not(:last-child) {
    margin-bottom: 30px;
  }

  .services__column:last-child {
    flex: 1 1 100%;
  }
}

.services__item {
  background: #fff;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  padding: 35px;
  height: 100%;
}

@media (max-width: 479px) {
  .services__item {
    padding: 25px;
  }
}

.item-service > *:not(:last-child) {
  margin-bottom: 10px;
}

.item-service_green {
  background: #0d5c63;
  color: #fff;
}

.item-service_green .item-service__text {
  color: #fff;
}

.item-service__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 133%;
  letter-spacing: 0.1px;
}

.item-service__text {
  color: #737373;
  line-height: 143%;
  letter-spacing: 0.2px;
}

/* Header-block */
.header-block {
  text-align: center;
  letter-spacing: 0.2px;
}

.header-block__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 142%;
}

.header-block__title:not(:last-child) {
  margin-bottom: 10px;
}

.header-block__text {
  color: #737373;
  font-weight: 500;
  line-height: 143%;
}

@media (max-width: 992px) {
  .header-block__title {
    font-size: 35px;
  }
}

@media (max-width: 992px) {
  .header-block__title {
    font-size: 30px;
  }
}

/* Advantages */
.advantages {
  padding: 80px 0;
}

@media (max-width: 992px) {
  .advantages {
    padding: 50px 0;
  }
}

@media (max-width: 767px) {
  .advantages {
    padding: 30px 0;
  }
}

.advantages__header {
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .advantages__header {
    margin-bottom: 25px;
  }
}
.advantages__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px -30px;
}

.advantages__column {
  padding: 0 15px;
  margin-bottom: 30px;
  flex: 0 1 25%;
}

@media (max-width: 1020px) {
  .advantages__column {
    flex: 0 1 50%;
  }
}

@media (max-width: 560px) {
  .advantages__column {
    flex: 0 1 100%;
  }
}

.advantages__item {
  background: #fff;
  padding: 30px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.advantages__item > *:not(:last-child) {
  margin-bottom: 10px;
}

.advantages__icon {
  height: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.advantages__value {
  font-size: 40px;
  line-height: 142%;
}

.advantages__text {
  color: #737373;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
}

/* Practice */
.practice {
  padding: 125px 0 80px 0;
}

@media (max-width: 993px) {
  .practice {
    padding: 40px 0 80px 0;
  }
}

@media (max-width: 767px) {
  .practice {
    padding: 0 0 40px 0;
  }
}

.practice__header {
  margin-bottom: 45px;
}

@media (max-width: 767px) {
  .practice__header {
    margin-bottom: 25px;
  }
}

.practice__body {
  margin: 0 -20px -30px;
  display: flex;
  flex-wrap: wrap;
}

.practice__column {
  padding: 0 20px;
  margin-bottom: 30px;
  flex: 0 1 25%;
}

@media (max-width: 1040px) {
  .practice__column {
    flex: 0 1 50%;
  }
}

@media (max-width: 630px) {
  .practice__column {
    flex: 0 1 100%;
  }
}

.item-practice {
  background: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.item-practice__content {
  padding: 30px;
  flex: 1 1 auto;
}

.item-practice__link {
  color: inherit;
  display: inline-block;
}

.item-practice__link:hover {
  text-decoration: underline;
}

.item-practice__link:not(:last-child) {
  margin-bottom: 15px;
}

.item-practice__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.1px;
}

.item-practice__text {
  color: #737373;
  line-height: 143%;
  letter-spacing: 0.2;
}

.item-practice__image {
  display: inline-block;
}

/* Who We Are */
.whoweare {
  padding: 80px 0 130px 0;
  background: #fff;
}

.whoweare__header {
  margin-bottom: 100px;
}

.whoweare__body {
  display: flex;
  align-items: flex-start;
}

.whoweare__video {
  flex: 0 0 57%;
  position: relative;
  padding-bottom: 42.25%;
}

.whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.whoweare__content {
  flex: 1 1 auto;
  padding: 20px 0 0 121px;
}

.whoweare__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 142%;
  letter-spacing: 0.2px;
}

.whoweare__title:not(:last-child) {
  margin: 0 0 10px 0;
}

.whoweare__text {
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}

.whoweare__items {
  margin: 50px 0 0 0;
}

.whoweare__item:not(:last-child) {
margin-bottom: 30px;
}

.item-whoweare {
  display: flex;
}

.item-whoweare__icon {
  flex: 0 0 32px;
}

.item-whoweare__body {
  flex: 1 1 auto;
  padding: 0 0 0 20px;
}

.item-whoweare__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.1px;
}

.item-whoweare__title:not(:last-child) {
  margin: 0 0 5px 0;
}

.item-whoweare__text {
  font-weight: 600;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #737373;
}

@media (max-width: 1080px) {
  .whoweare__content {
    padding-left: 50px;
  }
}

@media (max-width: 950px) {
  .whoweare {
    padding: 40px 0 80px 0;
  } 

  .whoweare__header {
    margin-bottom: 45px;
  }

  .whoweare__body {
    flex-direction: column;
    align-items: stretch;
  }

  .whoweare__video {
    padding-bottom: 56.25%;
  }

  .whoweare__video:not(:last-child) {
    margin-top: 30px;
  }

  .whoweare__title {
    font-size: 24px;
  }
}
